
html{
  height: 100%;
  width: 100%;
}

container{
 width: 1000px;
  padding: 0px;
  border: 5px rgb(222, 222, 214);
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(222, 222, 214);
  min-height: 100vh;
  width: 100%;
}


div {
  width: 1385px;
  padding: 20px;
  border: rgb(222, 222, 214);
  margin: 0;
  overflow-x: hidden;
}

h1 {
  background-color: white;
  font-family: 'DM Sans', sans-serif;;
  font-size: 40px;
  color:#050505;
  font-weight: bold;
}

h2 {
  background-color: white;
  font-family: 'DM Sans', sans-serif;;
  font-size: 30px;
  color:#050505;
  font-weight: bold;
}

h3 {
  background-color: white;
  font-family: 'DM Sans', sans-serif;;
  font-size: 30px;
  color:#050505;
  font-weight: bold;
}

h4 {
  background-color: white;
  font-family: 'DM Sans', sans-serif;;
  font-size: 30px;
  color:#050505;
  font-weight: bold;
}

div {
  background-color: white;
}

p {
  background-color: white;
   font-family: 'DM Sans', sans-serif;;
  font-size: 19px;
  color:rgb(41, 51, 75);
}

nav{
 background-color: white;
 font-family: 'DM Sans', sans-serif;;
  font-size: 25px;
  color:rgb(222, 222, 214);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(222, 222, 214);
  font-size: 20px;
  font-family: 'DM Sans', sans-serif;;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #635f54;
}

.column1 {
  float: left;
  width: 630px;
  padding: 10px;
  height: 300px;
  background-color: #ffffff;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column2 {
  float: right;
  width: 630px;
  padding: 10px;
  height: 300px;
  background-color: rgb(255, 255, 255);
}

.column3 {
  float: right;
  width: 630px;
  padding: 10px;
  height: 300px;
  background-color:rgb(255, 255, 255);
}
.column4 {
  float: left;
  width: 630px;
  padding: 10px;
  height: 300px;
  background-color: rgb(255, 255, 255);
}

.column5 {
  float: left;
  width: 630px;
  padding: 10px;
  height: 300px;
  background-color:rgb(255, 255, 255);
}

.column6 {
  float: right;
  width: 630px;
  padding: 10px;
  height: 300px;
  background-color: rgb(255, 255, 255);
}

.column7 {
  float: right;
  width: 630px;
  padding: 10px;
  height: 300px;
  background-color: rgb(255, 255, 255);
}

.column8 {
  float: left;
  width: 630px;
  padding: 10px;
  height: 300px;
  background-color:rgb(255, 255, 255);
}

p1 {
  background-color:rgb(252, 252, 252);
   font-family: 'DM Sans', sans-serif;;
  font-size: 20px;
  color:rgb(41, 51, 75);
}

h7 {
 background-color: rgb(255, 255, 255);
  font-family: 'DM Sans', sans-serif;;
  font-size: 40px;
  color:#050505;
  font-weight: bold;
}